<!-- .holder.content
  - unless @page.nil?
    == @page.body -->

<div class="main" role="content">
  <div class="slider_wrap wrap">
    <div class="slider_viewport">
      <ul class="sliders">
        <% Slide.visibles.each do |slide| %><li class="slide<%= slide.backg.present? && slide.backg > 0 ? " bg#{slide.backg}" : "" %><%= slide.custom? ? ' custom' : '' %>">
          <% imghtmlblock = slide.image.present? ? '<div class="slide_img_wrap">' + image_tag(slide.image.url, :class => "slide_img") + '</div>' : '' %>
          <% unless slide.image_at_right? %>
            <%= imghtmlblock.html_safe %>
          <% end %>
          <div class="slide_text">
            <h1 class="title"><%= slide.title %></h1>
            <h2 class="title"><%= slide.subtitle %></h2>
            <p><%= slide.descr %></p>
            <% if slide.btn_link.present? %>
              <a href="<%= slide.btn_link %>" class="btn"><%= slide.btn_text %></a>
            <% end %>
          </div>
          <% if slide.image_at_right? %>
            <%= imghtmlblock.html_safe %>
          <% end %>
        </li><% end %>
      </ul>
    </div>  
    <div class="slider_control">
      <div class="prev"></div>
      <div class="next"></div>
    </div>
    <ul class="slider_dots"></ul>
  </div>
  <div class="wrap our_products">
    <h1 class="title">Наши продукты</h1>
    <ul class="content_sitenav__list" role="navigation">
      <li class="content_sitenav__item  muesli">
        <a href="/sweets/constructor" class="content_sitenav__link">Мюсли</a>
      </li>
      <li class="content_sitenav__item  bake">
        <a href="/sweets/constructor" class="content_sitenav__link">Выпечка</a>
      </li>
      <li class="content_sitenav__item  icecream">
        <a href="/sweets/constructor" class="content_sitenav__link">Мороженое</a>
      </li>
      <li class="content_sitenav__item  yogurt">
        <a href="/sweets/constructor" class="content_sitenav__link">Йогурт</a>
      </li>
    </ul>
  </div>
  <div class="info">
    <h1 class="title">Информация</h1>
    <div class="wrap">
      <%= @page ? @page.body.html_safe : "" %>
    </div>  
  </div>
</div>