<% content_for :html_tag_attributes do %>ng-app="sweetapp"<% end %>
<% content_for :head do %>
  <%= javascript_include_tag "products" %>
<% end %>

<div class="main" role="content" ng-controller="BasketCtrl">
  <h1 class="title">Корзина</h1>
  <div class="wrap content" ng-init="basket_items = [
<% not_first = false %>
<% @basket_items.each do |product| %>
  <% if not_first %>, <% else %><% not_first = true %><% end %>
  { id: <%= product.id %>,
    name: '<%= product.name %>',
    image: '<%= product.image.url %>',
    weight: <%= product.weight %>,
    price: <%= product.price %>,
    <% if (ingrids = product.ingridients).any? %>ingridients: [<%= ingrids.map {|ingrid| "'#{ingrid.image.url}'" }.join(',').html_safe %>],<% end %>
    count: <%= product.count %> }
<% end %> ]">
    <p ng-show="basket_items.length < 1">Корзина пустая</p>
    <table class="basket_table" ng-show="basket_items.length">
      <thead class="basket_thead">
        <tr class="basket_tr">
          <td class="basket_td">Продукты</td>
          <td class="basket_td">Ингредиенты</td>
          <td class="basket_td">Вес</td>
          <td class="basket_td">Цена</td>
          <td class="basket_td">Количество</td>
          <td class="basket_td">Сумма</td>
          <td class="basket_td"><input type="submit" class="btn" value="Удалить всё" ng-click="clearBasket()"></td>
        </tr>
      </thead>
      <tbody class="basket_tbody" ng-cloak>
        <tr class="basket_tr" ng-repeat="item in basket_items">
          <td class="basket_td">
            <img ng-src="{{ item.image }}" alt="" class="product_pic">
            {{ item.name }}
          </td>
          <td class="basket_td">
            <ul class="ingredients_list" ng-if="item.ingridients && item.ingridients.length > 0">
              <li class="ingredient" ng-repeat="ingrid in item.ingridients">
                <img ng-src="{{ ingrid }}" alt="" class="basket_ingredient_pic">
              </li>
            </ul>
          </td>
          <td class="basket_td">
            {{ item.weight }}г
          </td>
          <td class="basket_td">
            {{ item.price }}р
          </td>
          <td class="basket_td">
            <input type="number" id="id1" name="quantity" min="1" max="5" class="quantity_select" ng-model="item.count" ng-change="saveCount(item)">
          </td>
          <td class="basket_td">
            {{ item.price * item.count }}р
          </td>
          <td class="basket_td">
            <%# TODO # <a href="#" class="btn type2">Редактировать</a> %>
            <a class="btn" ng-click="removeBasketItem(item.id)">Удалить</a>
          </td> 
        </tr>
      </tbody>
    </table>
    <%# TODO
    <div class="retry_order input_wrap">
      <input type="text" placeholder="Введите Email и повторите последний заказ"> <div class="btn">Повторить заказ</div>
    </div>
    %>
    <ul class="totals_list">
      <li class="total_item">Общий вес<span class="delivery_value">{{ total_weight }}г</span></li>
      <li class="total_item">Общая стоимость<span class="delivery_value">{{ total_price }}р</span></li>
    </ul>
    <div class="submit_wrap elems_at_sides">
      <form action="/checkout" method="GET">
      <a href="<%= root_url %>" class="btn type2">Вернуться в магазин</a>
      <a href="<%= checkout_path %>" class="btn">Оформить заказ</a>
      </form>
    </div>
  </div>
</div>