<div class="main" role="content">
  <h1 class="title">Оформление заказа</h1>
  <div class="wrap content">
    <%= form_for @order, url: checkout_path do |f| %>
      <div class="checkout">
        <div class="inputs_block">
          <div class="input_wrap">
            <%= f.label :clt_first_name, "Ваше имя*" %>
            <%= f.text_field :clt_first_name %>
            <%= f.label :clt_last_name, "Фамилия" %>
            <%= f.text_field :clt_last_name %>
          </div><div class="input_wrap">
            <%= f.label :clt_phone, "Телефон" %>
            <%= f.text_field :clt_phone %>
            <%= f.label :clt_email, "E-mail*" %>
            <%= f.text_field :clt_email, placeholder: "На этот E-mail придет копия заказа" %>
          </div>
        </div>
        <div class="inputs_block">
          <div class="input_wrap check_delivery_date">
            <%= f.label :dlv_date, "Дата доставки*" %>
            <%= f.select :dlv_date, (Date.tomorrow..(Date.tomorrow + 2.days)).map {|dt| [I18n.l(dt, format: '%d %B'), dt] } %>
            <%= f.select :dlv_period, ["c 10:00 до 14:00", "c 14:00 до 18:00", "c 18:00 до 21:00"] %>
          </div><div class="input_wrap check_delivery_city">
            <%= f.label :dlv_city, "Город*" %>
            <%= f.select :dlv_city, ["Красноярск", "Сосновоборск", "Железногорск"] %>
          </div>
        </div>  
        <div class="input_wrap fullsize">
          <%= f.label :dlv_address, "Адрес доставки*" %>
          <%= f.text_field :dlv_address %>
          <%# TODO make auto delivery price calculation %>
        </div>
        <div class="input_wrap fullsize">
          <%= f.label :clt_comment, "Комментарии к доставке" %>
          <%= f.text_field :clt_comment %>
        </div>
        <div class="payment">
          <h2 class="payment_title">Способы оплаты:</h2>
          <div class="input_wrap fullsize">
            <input type="radio" name="payment_method" value="0" id="payment_method_cash" class="pradio" <%= params[:payment_method] != "1" ? "checked" : "" %>>
            <label for="payment_method_cash" class="radio_anatation">Наличными курьеру</label>
            <input type="radio" name="payment_method" value="1" id="payment_method_card" class="pradio" <%= params[:payment_method] == "1" ? "checked" : "" %>>
            <label for="payment_method_card" class="radio_anatation">Оплата онлайн  (Visa/Mastercard/Yandex)</label> 
          </div>
          <%# TODO
          <div class="input_wrap fullsize">
            <input type="checkbox" class="pcheckbox" id="promo">
            <label for="promo" class="radio_anatation">У меня есть промо код:</label>
            <input type="text">
          </div>
          %>
          <div class="input_wrap fullsize one-line-errors"> <%# TODO make error show (add 'field_with_errors' class) %>
            <%= f.check_box :terms_of_service, :class => "pcheckbox" %>
            <%= f.label :terms_of_service, "Согласен на всё,только продайте мне еще печенек", :class => "radio_anatation soglasen-label" %>
            <!-- <input type="checkbox" name="order[soglasen]" class="pcheckbox" id="soglasen">
            <label for="soglasen" class="radio_anatation soglasen-label">Согласен на всё,только продайте мне еще печенек</label> -->
          </div>
        </div>  
      </div>
      <ul class="totals_list">
        <li class="total_item">Корзина<span class="delivery_value"><%= "%g" % @order.products_price %>р</span></li>
        <li class="total_item">Доставка<span class="delivery_value">0р</span></li>
        <li class="total_item">Скидка по купону<span class="delivery_value">0р</span></li>
        <li class="total_item">Всего к оплате<span class="delivery_value"><%= "%g" % @order.price %>р</span></li>
      </ul>
      <div class="submit_wrap elems_at_sides">
        <a href="<%= basket_path %>" class="btn type2">Вернуться в корзину</a>
        <input type="submit" class="btn" value="Сделать заказ">
      </div>
    <% end %>
  </div>
</div>