<!DOCTYPE HTML>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="<%= Rails.application.config.encoding %>">
  <meta name='yandex-verification' content='463cac3e5778ddea'>

  <title><%= seo.page_title %></title>
  <meta name="keywords" content="<%= seo.keywords %>">
  <meta name="description" content="<%= seo.page_description %>">

  <!-- Open Graph tags for social networks -->
  <meta property="og:title" content="SweetMix - оn-line кондитерская" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/assets/prev_logo.png" />

  <link rel="author" type="text/plain" href="<%= root_path %>humans.txt">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "application" %>

</head>
<body>
  <% if flash[:notice] || flash[:alert] %>
    <div id="flmsg" style="display:none">
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert"><%= flash[:alert] %></p>
      <% end %>
    </div>
  <% end %>

  <div class="sitewrap">
    <header class="header" role="header">
      <div class="wrap">
        <div class="header__func">
          <div class="header__func_item cart"><a href="/basket" class="header__func_link">Корзина</a></div>
          <div class="header__func_item delivery"><a href="/info/delivery" class="header__func_link">Доставка</a></div>
        </div>
        <a href="<%= root_url %>" class="logo_link">
          <%= image_tag "logo.png", alt: "Sweet Mix" %>
        </a>
        <div class="header__contact_func">
          <a href="tel:89132341212" class="header__tel">+7 (913) 234-1212</a>
          <div class="btn call">Заказать звонок</div>
        </div>

        <!-- nav.main-nav
          ul
            - @main_nav_items.each do |mni|
              - item_css_class = (mni == @active_main_nav_item) ? "active" : ""
              li class="#{item_css_class}" = link_to mni.title, mni.url -->

        <ul class="header__nav" role="navigation">
          <li class="header_nav_item">
            Мюсли
            <ul class="header_subnav">
              <li class="header_subnav_item"><a href="/sweets/constructor" class="header_subnav_link">Создать мюсли</a></li>
              <li class="header_subnav_item"><a href="/sweets/shop" class="header_subnav_link">Готовые рецепты</a></li>
            </ul>
          </li>
          <li class="header_nav_item">
            Выпечка
            <ul class="header_subnav">
              <li class="header_subnav_item"><a href="/sweets/shop" class="header_subnav_link">Кексы</a></li>
              <li class="header_subnav_item"><a href="/sweets/shop" class="header_subnav_link">Песочные человечки</a></li>
              <li class="header_subnav_item"><a href="/sweets/shop" class="header_subnav_link">Макаруны</a></li>
            </ul>
          </li>
          <li class="header_nav_item"><a href="/sweets/shop" class="header_nav_link">Мороженое</a></li>
          <li class="header_nav_item"><a href="/sweets/shop" class="header_nav_link">Йогурт</a></li>
        </ul>
      </div>
    </header>

    <%= yield %>

  </div>

  <footer class="footer" role="footer">
    <div class="wrap">
      <div class="footer__info_block">
        <h3 class="footer__title">О нас:</h3>
        <ul class="footer__nav">
          <li class="footer__nav_item"><a href="/about/contacts" class="footer__nav_link">Контактная информация</a></li>
          <li class="footer__nav_item"><a href="/about/certificate" class="footer__nav_link">Сертификаты</a></li>
          <li class="footer__nav_item"><a href="/about/vacancy" class="footer__nav_link">Вакансии</a></li>
          <li class="footer__nav_item"><a href="/about/partners" class="footer__nav_link">Партнеры</a></li>
          <li class="footer__nav_item"><a href="/about/comments" class="footer__nav_link">Отзывы</a></li>
        </ul>
      </div>
      <div class="footer__info_block">
        <h3 class="footer__title">Наша продукция:</h3>
        <ul class="footer__nav">
          <li class="footer__nav_item"><a href="/sweets/constructor" class="footer__nav_link">Мюсли</a></li>
          <li class="footer__nav_item"><a href="/sweets/shop" class="footer__nav_link">Выпечка</a></li>
          <li class="footer__nav_item"><a href="/sweets/shop" class="footer__nav_link">Мороженое</a></li>
          <li class="footer__nav_item"><a href="/sweets/shop" class="footer__nav_link">Йогурты</a></li>
          <li class="footer__nav_item"><a href="javascript:void(0)" class="footer__nav_link">Горячие предложения</a></li>
        </ul>
      </div>
      <div class="footer__info_block">
        <h3 class="footer__title">Полезная информация:</h3>
        <ul class="footer__nav">
          <li class="footer__nav_item"><a href="javascript:void(0)" class="footer__nav_link">Срок годности</a></li>
          <li class="footer__nav_item"><a href="/info/delivery" class="footer__nav_link">Информация о доставке</a></li>
        </ul>
      </div>
      <div class="footer__info_block">
        <h3 class="footer__title">Служба поддержки:</h3>
        <ul class="footer__nav">
          <li class="footer__nav_item"><a href="/support/questions" class="footer__nav_link">Вопросы и ответы</a></li>
          <li class="footer__nav_item"><a href="javascript:void(0)" class="footer__nav_link">Советы диетолога</a></li>
        </ul>
        <ul class="social_list">
          <li class="social_item"><a href="javascript:void(0)" class="social_link in">Instagram</a></li>
          <li class="social_item"><a href="javascript:void(0)" class="social_link yt">YouTube</a></li>
          <li class="social_item"><a href="javascript:void(0)" class="social_link vk">ВКонтакте</a></li>
          <li class="social_item"><a href="javascript:void(0)" class="social_link ok">Одноклассники</a></li>
          <li class="social_item"><a href="javascript:void(0)" class="social_link fb">Facebook</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <div class="popup_wrap">
    <div class="overlay"></div>
    <div class="popup call_form">
      <div class="popup_closer"></div>
      <h2 class="title">Заказать звонок</h2>
      <div class="input_wrap">
        <label for="calling_name">Имя*</label>
        <input type="text" id="calling_name" value="">
      </div>
      <div class="input_wrap">
        <label for="calling_tel">Телефон*</label>
        <input type="text" d="calling_tel" value="">
      </div>
      <div class="ahtung">*Незаполнены необходимые поля</div>
      <input type="submit" class="btn" value="Свяжитесь со мной">
    </div>
  </div>

  <%# TODO remove ' && false' when moves to production %>
  <% if Rails.env.production? && false %>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter22648775 = new Ya.Metrika({id:22648775,
                      webvisor:true,
                      trackLinks:true});
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/22648775" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  <% end %>
</body>
</html>